cltk==0.1.83
Counter==1.0.0
gitdb2==2.0.3
GitPython==2.1.9
lxml==4.2.1
nltk==3.2.5
pkg-resources==0.0.0
python-crfsuite==0.9.5
pytz==2018.4
pyuca==1.2
PyYAML==3.12
regex==2018.2.21
six==1.11.0
smmap2==2.0.3
Whoosh==2.7.4
